body{
    background-color: #CFDCC0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color:#096F34 ;
    list-style: none;
    height: 70px;
    display: flex;
    justify-content: center;
}

.btn{
    height: 40px;
    margin-left: 20px;
    border-radius: 15px;
}

.logo{
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto; 
    width: 400px;
    opacity : 0.5;
}

.dropdown{
    margin-top: 15px;
}

.fundo{
    background-color: rgb(255, 255, 255);
    height: 600px;
    border-radius: 30px;
    width: 1000px;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    color: #115B31;
}

.shadow-sm{
    border-radius: 10px;
    border: 1px solid rgba(5, 5, 5, 0.3);
    margin: 5px;
}

h1{
    font-size: 30px;
    text-align: center;
}

.btn-concluir{
    margin-top: 10px;
    margin-left: 0%;
}


