body{
    background-color: #CFDCC0;
    color: #115B31;
}

.fundo{
    background-color: white;
    width: 1006px;
    height: 630px;
    border-radius: 30px;
    margin: auto;
    margin-top: 40px;
}

.fundo-cad-nota{
    background-color: white;
    width: 920px;
    max-height: 400px;
    border-radius: 30px;
    margin: auto;
    padding: 20px;    
    margin-top: 50px;
}

.fundo-cad-prod-nota{
    display: flex;
    background-color: white;
    max-height: 600px;
    border-radius: 30px;
    margin: auto;
    padding: 20px;    
    margin-top: 40px;
}

h1{
    font-size: 30px;
    text-align: center;
}

.container{
    height: 590px;
}

.btn-cadastrar{
    margin-left: 0%;
    margin-top: 20px;
    width: 180px;
}

.btn-editar{
    margin-left: 0%;
    margin-top: 20px;
}

.table{
    max-width: 1350px;
    max-height: 600px;
    margin: auto;
    color: #115B31;
}

.campo_pesquisa{
    margin: auto;
    margin-top: 20px;
}

.resultado{
    height: 120px;
    border: #CFDCC0 solid 2px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    display: none;
    max-width: 615px;
}

.info-prod{
    margin-top: 20px;
}

#item-prod{
    cursor: pointer;
}

.caixa-table{
    max-height: 500px;
    overflow: auto;
}

.btn-cad-prod{
    margin-top: 10px;
    margin-left: 0%;
}

.form-prod-nota{
    display: block;
    flex: 2;
    padding-right: 20px;
}

.form-prod-nota2{
    display: block;
    flex: 3;
}

.form-prod{
    max-width: 615px;
}
