body{
    background-color: #CFDCC0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color:#096F34 ;
    list-style: none;
    height: 70px;
    display: flex;
    justify-content: center;
}

.btn{
    height: 40px;
    margin-left: 20px;
    border-radius: 15px;
}

.logo{
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto; 
    width: 400px;
    opacity : 0.5;
}

.dropdown{
    margin-top: 15px;
}

.fundo{
    background-color: rgb(255, 255, 255);
    height: 600px;
    border-radius: 30px;
    width: 1200px;
    margin: auto;
    margin-top: 35px;
    padding: 20px;
    color: #115B31;
}

.shadow-sm{
    border-radius: 10px;
    border: 1px solid rgba(5, 5, 5, 0.3);
    margin: 5px;
}

h1{
    font-size: 30px;
    text-align: center;
}

h3{
    font-size: 25px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 20px;
}

.btn-cardapio{
    margin-left: 0%;
    margin-top: 20px;
    width: 150px;
}

.resultado{
    height: 70px;
    border: #CFDCC0 solid 2px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    display: none;
    max-width: 615px;
    cursor: pointer;
}

.info-prod{
    margin-top: 20px;
}

.campo_pesquisa{
    margin-top: 20px;
}

.cardapio{
    display: flex;
}


.cardapio1{
    display: block;
    flex: 1;
}

.cardapio2{
    display: block;
    flex: 1;
}

.colunasTurno{
    margin-top: 22px;
    width: 450px;
}

.btn-cad-prod{
    margin-top: 10px;
    margin-left: 0%;
}

