body{  
    background-color: #CFDCC0;
}

.menu{
    background-color:#096F34 ;
    list-style: none;
    height: 70px;
    display: flex;
    justify-content: center;
}

.btn{
    width: 130px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
}

.menurp{
    background-color:#096F34 ;
    list-style: none;
    height: 70px;
    line-height: 70px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.paragrafo{
    display: flex;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.dropdown{
    margin-top: 15px;
}

.fundo{
    background-color: rgb(255, 255, 255);
    height: 575px;
    border-radius: 25px;
    padding: 20px;
    overflow: auto;
    width: 950px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: 40vh;
}

legend{
    display: flex;
    justify-content: center;
    color: #115B31;
}

dropdown{
    margin-left: 20px;
}

input, select{
    margin-bottom: 10px;
}

.tabela{
    max-width: 1006px;
    height: 575px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 25px;
    overflow: auto;
    margin-top: 40px;
}