.btn{
    width: 130px;
    height: 38px;
    border-radius: 15px;
    margin-left: 10px;
}

legend{
    display: flex;
    justify-content: center;
    color: #115B31;
}

input, select{
    margin-bottom: 10px;
}

h1{
    font-size: 30px;
    text-align: center;
}