.btn{
    width: 130px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
}

.menurp{
    background-color:#096F34 ;
    list-style: none;
    height: 70px;
    line-height: 70px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

legend{
    display: flex;
    justify-content: center;
    color: #115B31;
}

dropdown{
    margin-left: 20px;
}

input, select{
    margin-bottom: 10px;
}

h1{
    font-size: 30px;
    text-align: center;
}